---

---
<h1>Nous le créons pour vous ! Nous vous proposons une solution clé en main</h1>
		
			<div class="contain">
                <div class="head">
				<h2>Excellent service</h2>
				<p>Avec notre expertise et notre savoir-faire, vous obtiendrez un site internet de qualité qui répond parfaitement à tous vos besoins. Vous souhaitez un site web qui soit à la fois esthétique et pratique ?

                </p>
				<button>En savoir Plus</button>
            </div>
            <img src="quickorder-301139-1200x800.jpg" alt="">
			</div>
<style>
.contain{
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    align-items: center;
}
.contain div{
    margin-bottom: 10rem ;
    display: flex;
    flex-direction: column;
gap: 3rem;
}
h1{
    font-size: 1.3rem;
    padding: 5rem;
    text-transform: uppercase;
}

.head h2{
		font-size: 2rem;
		padding: 2rem;
		font-weight: bold;
        color: var(--accent);
	}
	.head p{
		max-width: 50rem;
		padding: 1rem;
		font-size: 1.2rem;
		color: rgb(95, 95, 95);
	}
	.head button{
		padding: 1rem;
		background-color: var(--accent);
		color: var(--white-foma);
		border-radius: 50px;
        max-width: 15rem;
	}
</style>