---

---

		
			<div class="contain">
                <img src="mbr-1465x1080.jpg" alt="">
                <div class="head">
				<h2>SITE INTERNET  rapport Qualité-Prix-Service</h2>
				<p class="headp">Rapport Qualité-
                    Prix-Service
                    PREMIUM

                </p>
                <p class="color"><span></span> Nous offrons un excellent service clientèle.</p>
				<button>J'accede au prix</button>
            </div>
            
			</div>
<style>
.contain{
    display: grid;
    gap: 2rem;
    grid-auto-flow: dense;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    align-items: center;
}
.contain div{
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
gap: 1rem;
}
img{
    border-radius: 0.625rem;
}
span{
	margin-right: 10px;
	height: 100%;
	background-color:var(--color-theme-2) ;
	border: 3px solid var(--color-theme-2);
}
.head h2{
		max-width: 50rem;
		padding: 1rem 0;
		font-size: 1.2rem;
		
	}
	.headp{
		font-size: 1.8rem;
		padding: 2rem 0;
		
        color: var(--accent);
	}
    .color{
        font-weight: bold;
        font-size: 1.3rem;
    }
	.head button{
		padding: 1rem;
		background-color: var(--accent);
		color: var(--white-foma);
		border-radius: 50px;
        max-width: 15rem;
	}
</style>